body {
    background-color: #fefae0;
}

.list {
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
}

.list li {
    list-style: none;
    padding: 10px;
    font-size: 18px;
}

.list a {
    text-decoration: none;
    color: #fb6f92;
    font-weight: bold;
}

.list a:hover {
    font-size: 110%;
    color: #ffb3c6;
    text-decoration: underline;
}
